<html>
<body style="background-color:#F0FFFF" align = 'center'><b> Поиск </b> <br>
<p style="background-color:#F0FFFF" align = 'center'>
<form><label>Введите слово: <input type="text" name="word"></label><br>
    <label>Поиск по: <input type="radio" name="kind" value = 'text'>тексту
        <input type="radio" name="kind" value = "name"> названию
    <input type="radio" name="kind" value = "author"> автору объявления
    <input type="radio" name="kind" value = "adress"> адресу</label><br>
    <label>Тип поиска: <input type="radio" name="search_method" value = "inverted_index"> инфертированный индекс
        <input type="radio" name="search_method" value = "word2vec"> word2vec
    <input type="radio" name="search_method" value = "doc2vec"> doc2vec</label><br>
    </form><p>
<img src="http://www.playcast.ru/uploads/2016/01/17/16861275.png" width="250" height="153" alt="" />
</body>
</html>
